<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">{{coinChild?.symbol}} - {{coinChild?.name | uppercase}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h6 class="text-primary">Classement: {{coinChild?.rank}}</h6>
          <p>Offre actuelle : {{coinChild?.supply | number: '1.0-0'}}</p>
          <p>Prix actuel : {{coinChild?.priceUsd | number: '1.0-0'}}</p>
          <p *ngIf="coinChild?.maxSupply !== null">Offre max : {{coinChild?.maxSupply | number: '1.0-0'}}</p>
          <p *ngIf="coinChild?.maxSupply == null" class="text-danger">Pas d'offre max</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
